:root{
	--black-color: #000;
	--white-color: #fff;
	--title-color: #d1b04e;
	--text-color: #01310c;
	--site-color: #01310c;
	--light-bg-color: #fff7eb;
	--border-color: #e4e5e6;
	--primary-font: 'Kano';
/*	--primary-font: 'Tenor Sans', sans-serif;*/
	--secondary-font: 'Lato', sans-serif;
}
body{margin: 0;padding: 0;}
header{position: relative;}
.headers{width: 100%;background: rgb(1 49 12 / 45%);padding: 10px 10px;position: fixed;z-index: 1000;-webkit-transition: all ease-out .5s;-moz-transition: all ease-out .5s;-o-transition: all ease-out .5s;transition: all ease-out .5s;}
.logo-box{width: 200px;float: left;}
.logo-box a{}
.logo-box a img{width: 100%;}
.headeractive{background: var(--site-color);}
.navs{float: right;display: flex;padding-top: 20px;}
.navs ul{margin-bottom: 0;}
.navs ul li{display: inline-block;padding: 1px 10px;}
.navs ul li a{font-family: var(--primary-font);color: var(--title-color);font-size: 18px;text-decoration: none;text-transform: capitalize;}
.navs ul li a:hover{color: var(--white-color);}
.callnowbtn{padding: 1px 10px;font-family: var(--primary-font);color: var(--title-color);font-size: 18px;text-decoration: none;text-transform: capitalize;}
.callnowbtn:hover{color: var(--white-color);}
.header-navigaton-menu{float: right;width: 50%;display: none;}
.sidenav {height: 100%;width: 0;position: fixed;z-index: 1;top: 0;right: 0;background-color: var(--site-color);overflow-x: hidden;transition: 0.5s;padding-top: 60px;}
.sidenav a {transition: 0.3s;}
.navtoggles{cursor:pointer;position: absolute;right: 15px;top: 20px;color: var(--white-color);}
.navtoggles img{width: 35px;}
.sidenav .closebtn{text-decoration: none;position: absolute;top: 10px;right: 25px;font-size: 35px;margin-left: 50px;display: block;color: var(--title-color);}
.sidenav .closebtn img{width: 30px;}
.sidenav ul{padding: 0 20px;}
.sidenav ul li{width: 100%;list-style: none;}
.sidenav ul li a{font-family: var(--primary-font);text-decoration: none;width: 100%;display: block;color: var(--white-color);font-size: 16px;margin-bottom: 10px;text-transform: c;}
.overviewbox{margin-bottom: 20px;}
.overviewbox img{width: 100%;}
.overviewbox h1{font-family: var(--primary-font);color: var(--title-color);position: relative;margin-bottom: 20px;}
.overviewbox h1:after{content: '';display: block;width: 65px;height: 2px;background-color: var(--title-color);margin-top: 2px;}
.overviewbox p{font-family: var(--secondary-font);color: var(--text-color);font-size: 16px;letter-spacing: 0.5px;text-align: justify;}
.upsbox{font-family: var(--secondary-font);margin-bottom: 20px;}
.upsbox h4{color: var(--text-color);font-size: 20px;}
.upsbox h4 img{width: 50px;}
section{width: 100%;padding: 60px 20px;}
.light-bg-color{background: var(--light-bg-color);}
.site-bg-color{background: var(--site-color);}
.white-bg-color{background: var(--white-color);}
.site-title{position: relative;color: var(--title-color);text-align: center;font-family: var(--primary-font);margin-bottom: 30px;}
.site-title:after {content: '';display: block;width: 65px;height: 2px;background-color: var(--title-color);margin: 0 auto;margin-top: 2px;}
.bannersection{width: 100%;}
header video, .bannersection iframe{width: 100%;height: 100%;position: relative;}
.mouse {width: 25px;height: 50px;border: 2px solid var(--white-color);border-radius: 60px;position: relative;left: 50%;top:-80px;display: inline-block;}
.mouse::before {content: '';width: 8px;height: 8px;position: absolute;top: 10px;left: 50%;transform: translateX(-50%);background-color: var(--white-color);border-radius: 50%;opacity: 1;animation: wheel 2s infinite;-webkit-animation: wheel 2s infinite;}
@keyframes wheel {
	to {opacity: 0;top: 40px;}
}
@-webkit-keyframes wheel {
	to {opacity: 0;top: 40px;}
}

#owl-demo .item{text-align: center;}
.customNavigation{width:100%; margin:0 auto; text-align:center; cursor:pointer;}
.customNavigation a{position: absolute;padding: 0;top: 50%;color: var(--title-color);font-size: 50px;}
.customNavigation .prev{float: left;left: 0;}
.customNavigation .next{float: right;right: 0;}
/*.owl-carousel{position: relative;}*/
.gallerysliderimg{width: 100%;text-align: center;}
.gallerysliderimg img{width: 100%;position: relative;}
.gallerysliderdescp{font-family: var(--primary-font);background: rgb(1 49 12 / 65%);padding: 10px 10px;position: absolute;bottom: 0px;width: 100%;}
.gallerysliderdescp h4{color: var(--title-color);font-size: 18px;margin-bottom: 0;text-transform: capitalize;}
.table-responsive{}
.table-responsive .table{}
.table>:not(:last-child)>:last-child>*{border-bottom-color:var(--site-color) !important;}
.table thead{border: 1px solid var(--site-color);background: var(--site-color);}
.table thead tr{}
.table thead tr th{font-family: var(--primary-font);color: var(--title-color);text-align: center;}
.table tbody{border: 1px solid var(--border-color);}
.table tbody tr{}
.table tbody tr td{font-family: var(--secondary-font);color: var(--text-color);text-align: center;}
.table tbody tr td button{border: none;outline: none;background: none;}
.about-ltr-box{padding: 20px 10px;background: var(--light-bg-color);text-align: center;min-height: 135px;}
.about-ltr-box i{}
.about-ltr-box h4{font-family: var(--primary-font);color: var(--title-color);font-size: 35px;}
.about-ltr-box h4 span{font-size: 20px;margin-left: 4px;}
.about-ltr-box p{font-family: var(--secondary-font);color: var(--text-color);font-size: 16px;text-transform: capitalize;margin-bottom: 0;}
.aboutboxessection{width: 100%;padding: 50px 10px;}
.about-box{padding: 20px 10px;background: rgb(255 255 255 / 20%);text-align: center;}
.about-box h5{color: var(--title-color);font-family: var(--primary-font);font-size: 26px;}
.about-box h6{color: var(--white-color);font-family: var(--secondary-font);font-size: 16px;}
.textdescp{font-family: var(--secondary-font);color: var(--text-color);font-size: 16px;letter-spacing: 0.5px;text-align: justify;}
.locationmapbox{font-family: var(--secondary-font);}
.locationmapbox img{width: 100%;margin-bottom: 10px;}
.locationmapbox p{text-align: center;font-size: 18px;color: var(--text-color);}
.locationmapbox p i{color: var(--title-color);vertical-align: middle;}
@media only screen and (max-width: 1024px){
	.bannersection iframe{height: 580px;}
}

@media only screen and (max-width: 992px){
	section, .aboutboxessection{padding: 40px 15px;}
	.about-box, .about-ltr-box{margin-bottom: 20px;}
	.bannersection iframe{}
	.callnowbtn{color: var(--white-color);}
	.callnowbtn span{display: none;}
	.logo-box{width: 140px;}
	.desktop-nav{display: none;}
	.header-navigaton-menu{display: block;}
	.callnowbtn{font-size: 23px;margin: -12px 35px 0px 0px;}
}
@media only screen and (max-width: 767px){
	.about-box h5{font-size: 20px;}
	.about-box h6, .about-ltr-box p{font-size: 15px;}
	.textdescp{font-size: 16px;}
	.bannersection iframe{height: 430px;}
	.customNavigation{display: none;}
}

@media only screen and (max-width: 480px){
	.bannersection iframe{height: 275px;}
	.headers{position: static;background: var(--site-color);}
}
@media only screen and (max-width: 425px){
/*	header video{height: 240px;}*/
}

@media only screen and (max-width: 375px){
	.about-box{min-height: 140px;}
	.bannersection iframe{height: 210px;}
/*	header video{height: 210px;}*/
}
